footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    margin-bottom: 24px;
}

footer img{
    width: 154px;
    height: 42px;
}

footer span {
    font-size: 16px;
    line-height: 19.2px
}
