.content-container {
    margin: 0 auto;
    min-width: 375px;
}

main {
    padding: 0 8px;
    box-sizing: border-box;
}

.main-paragraph {
    font-size: 17px;
    line-height: 21.25px; 
    margin-bottom: 12px;
}

main h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 59.4px;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

.main-img-container {
    width: 100%;
    height: 416px; 
    background: url(../images/image\ 1.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 16px;
}

main h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 26.4px;
    margin-bottom: 32px;
}

.main-card-img {
    margin-bottom: 14px;
    width: 100%;
}

.span-poland {
    font-size: 16px;
    line-height: 17.6px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    color: #0B3462;
}

.main-section-paragraph {
    font-size: 18px;
    font-weight: 700;
    line-height:  21.6px;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 24px; 
    margin-bottom: 24px;
}

.first-section-main-card {
    position: relative;
}

.first-section-main-card-svg {
    display: block;
    width: 32px;
    height: 32px; 
    position: absolute;
    bottom: 122px;
    right: 10px;
}

.main-section-heading {
    font-size: 34px; 
    font-weight: 800;
    line-height: 37.4px
}

.span-second-section {
    display: block;
    margin-bottom: 6px;
}

.main-second-section-paragraph {
    margin-bottom: 10px;
    border-bottom: none;
    padding: 0;

}

.second-section-main-card p {
    font-size: 16px;
    line-height: 19.2px;
    margin-bottom: 10px;
}

 .second-section-main-card-span-date {
    font-size: 14px;
    font-weight: 200;
    line-height: 16.8px;
    display: block;
    margin-bottom: 40px;
} 

.second-section-main-card img {
    margin-bottom: 18px;
    width: 100%
}

.second-section-main-card {
    position: relative;
}

 .second-section-play-svg {
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 165px;
    right: -146px;
   
} 

.main-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 42px;
    position:relative;
}

.main-btn-wrapper-span {
    display: none;
}

.main-btn {
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height:  16.8px;
    border-radius: 50%;
    border: 1px solid #D4D4D4;
    padding: 10px;  
    background: none;
    box-sizing: border-box;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.main-btn:hover {
    color: #006CE5;
}

.main-btn-wrapper:last-child::after {
    content: url(../images/Vector\ 1.svg);
    display: block;
    width: 4.5px;
    height: 9px;
    background: none;
} 

.main-search-and-tags-container {
    height: 274px;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;
    padding: 44px 0;
    box-sizing: border-box;
    margin-bottom: 32px;

}

 .main-form-container {
    display: flex;
    justify-content: space-between;
    width: 306px;
    height: 36px;
    margin: 0 auto 32px;

}

 .main-form-container input { 
    background: #DCE4E7; 
    border: none;
    width: 100%;
    box-sizing: border-box; 
    font-family: Urbanist;
 }

 .main-form-container input:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    
 }

 .main-form-container input::placeholder {
    color: #919191;
    font-size: 14px;
    line-height: 15.4px;
    padding-left: 10px;
 } 

.main-form-container button {
    border: none;
    padding: 0;
    cursor: pointer;
    }

 .main-form-container img {
    width: 36px;
    height: 36px;
    background: #006CE5;
    padding: 10px; 
    box-sizing: border-box;
 } 

.today-tags-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
   margin-bottom: 18px;
}

.today-tags-wrapper span {
    font-size: 18px;
    font-weight: 500;
    line-height: 19.8px;
}

.main-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.main-tags-wrapper a {
    color: #1A1B1B;
    font-size: 16px;
    line-height: 19.2px;
    text-decoration: none;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 800px;
    background: #FFF;
}

@media (min-width:768px) {

  
    .main-paragraph {
        font-size: 22px;
        line-height: 27.5px; 
        margin-bottom: 4px;
    }

    main h1 {
        font-size: 62px;
        line-height: 68,2px;
        padding-bottom: 4px;
    }
    
    .main-img-container {
        background: url(../images/policmen.png) no-repeat center center;
    }
    
    main h2 {
        font-size: 28px;
        line-height: 30.8px;
    }

    .first-section-main-card {
        display: flex;
        gap: 24px; 
        position: relative;
    }

     .main-card-img {
        width: 296px;
        height: 166px; 
        margin-bottom: 33px;
    } 

    .main-card-img-last {
        margin-bottom: 89px;
    }

    .span-poland {
        padding-top: 10px;
    }

    .main-section-paragraph {
        border-bottom: none;
        margin-bottom: 100px; 
    }

    .first-section-main-card-devider {
        width: 100%;
        height: 1px;
        background: #D4D4D4;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 16px;
        padding-bottom: 0;
    }

    .first-section-main-card-devider-last {
        margin-bottom: 32px;  
    }   

    /* .first-section-main-card-svg {
        width: 32px;
        height: 32px; 
        position: absolute;
        bottom: 118px;
        right: 10px;
    } */
     .second-section-main-card-svg {
        width: 32px;
        height: 32px; 
        position: absolute;
        left: 0;
        bottom: 0; 
    } 

    .second-section-main-card {
        position: relative;
}

    .second-section-last-main-card {
        position: relative;
    }

    .main-section-heading {
        font-size: 42px; 
        line-height: 46.2px;
    }

    .second-section-main-card {
        display: flex;
        gap: 24px;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 40px;
    }

    .span-second-section {
        margin-bottom: 6px;
        padding: 0;
    }  

    .second-section-main-card p {
        font-size: 16px;
        line-height: 19.2px;
        margin-bottom: 10px;
    }

    .second-section-main-card-span-date {
        margin-bottom: 0;
    } 

    .second-section-main-card img {
        margin-bottom: 0;
        width: 296px;
        height: 166px;
    }

    .first-section-main-card-svg {
        width: 32px;
        height: 32px; 
        position: absolute;
        bottom: 253px;
        left: 253px;
    } 

    .second-section-play-svg {
        bottom: 118px;
        right: 10px; 
    } 

    /* .second-section-play-svg {
        top: 123px;
        right: -144px;   
    } */

    
    .main-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 42px;
    }

    .main-btn-wrapper:hover {
        color: #006CE5; 
    }

    .main-btn-wrapper-span {
        display: block;
        color: #1A1B1B;
        font-size: 14px;
        font-weight: 800;
        line-height: 16.8px;
        text-transform: uppercase;
    }

    .main-btn-wrapper-span:hover {
        color: #006CE5; 
    } 
 
    .main-btn-wrapper:last-child::after {
        content: url(../images/Vector\ 1.svg);
        display: block;
        width: 4.5px;
        background: none;
    }
    
    .main-btn {
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height:  16.8px;
        border-radius: 50%;
        border: 1px solid #D4D4D4;
        padding: 10px;  
        background: none;
        box-sizing: border-box;
        width: 37px;
        height: 37px;
        cursor: pointer;
    }
    
    .main-search-and-tags-container {
        width: 100%;
    } 
    
     .main-form-container {
        display: flex;
        justify-content: space-between;
        width: 306px;
        height: 36px;
        margin: 0 auto 32px;
    
    }
    
     .main-form-container input { 
        background: #DCE4E7; 
        border: none;
        width: 100%;
        box-sizing: border-box; 
        font-family: Urbanist;
     }
    
     .main-form-container input:focus {
        outline: none;
        border: 1.5px solid #2080F6;
        
     }
    
     .main-form-container input::placeholder {
        color: #919191;
        font-size: 14px;
        line-height: 15.4px;
        padding-left: 10px;
     } 
    
    .main-form-container button {
        border: none;
        padding: 0;
        cursor: pointer;
        }
    
     .main-form-container img {
        width: 36px;
        height: 36px;
        background: #006CE5;
        padding: 10px; 
        box-sizing: border-box;
     } 
    
    .today-tags-wrapper {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 16px;
       margin-bottom: 18px;
    }
    
    .today-tags-wrapper span {
        font-size: 18px;
        font-weight: 500;
        line-height: 19.8px;
    }
    
    .main-tags-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
    
    .main-tags-wrapper a {
        color: #1A1B1B;
        font-size: 16px;
        line-height: 19.2px;
        text-decoration: none;
        padding: 8px 16px;
        box-sizing: border-box;
        border-radius: 800px;
        background: #FFF;
    }

}

@media (min-width:1368px) {

    .content-container {
        min-width: 1296px;
        margin: 0 auto;
    }

     .main-img-container {
        width: 746px;
        height: 418px; 
    }

    .main-first-section {
        display: flex;
        gap: 24px;
    }

    .main-card-img {
        width: 196px;
        height: 110px; 
        margin-bottom: 65px;
    }

    .main-card-img-last {
        margin-bottom: 92px;
    }

    .main-section-paragraph {
        border-bottom: none;
        margin-bottom: 60px; 
    }

    .first-section-main-card-devider {
        width: 589px;
        margin-bottom: 32px;
    }

    .main-first-section {
        border-bottom: 1px solid #D4D4D4;
        margin-bottom: 56px;
    }

    .main-first-section h2 {
        margin-bottom: 56px;
    } 

    .first-section-main-card-svg {
        left: 157px;
        bottom: 70px; 
    } 
    .main-card-img {
        width: 196px;
        height: 110px;
    }

     .main-second-section {
        display: flex;
        justify-content: space-between;
        
    } 
   
    .second-section-main-card {
        width: 856px;
    }

    .second-section-last-main-card {
        margin-bottom: 64px;
    }

    .main-btn-wrapper {
        margin-bottom: 50px;
        padding: 0;
    }

    /* .second-section-main-card {
        display: flex;
        gap: 24px;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 40px;
    } */

}
    